/* styles/globals.css */
@import 'swiper/css';
@import 'swiper/css/navigation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body {
  /* overflow-y: auto;
  overflow-x: hidden; */
  min-height: 100vh;
}
/* p {
  font-size: 18px;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.actions_cell > div {
  width: 100% !important;
}

/* Style for the Live Dot */
.live-dot {
  width: 6px; /* Size of the dot */
  height: 6px;
  border-radius: 50%; /* Make it circular */
  background-color: #f74a46; /* Color of the dot */
  animation: pulse 1.5s infinite ease-in-out; /* Animation */
}

/* Animation for the pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1); /* Initial size */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: scale(1.5); /* Scale up */
    opacity: 0.7; /* Slightly transparent */
  }
  100% {
    transform: scale(1); /* Return to original size */
    opacity: 1; /* Fully visible */
  }
}

.rich_content a,
.tiptap a,
a {
  color: #c62835;
  text-decoration: none;
  transition: all 0.4s linear;
}
.rich_content a:hover,
.tiptap a:hover,
a:hover {
  text-decoration: underline;
}

/* .rich_content a::after{
  
} */

.rich_content h1,
.rich_content h2,
.rich_content h3,
.rich_content h4,
.rich_content h5,
.rich_content h6,
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  margin: 24px 0;
}
.rich_content p,
.tiptap p {
  margin: 8px 0;
}

.rich_content ul,
.rich_content ol,
.tiptap ul,
.tiptap ol {
  margin: 20px 0 16px 20px;
}

.ProseMirror {
  font-size: 16px; /* Change this to your desired font size */
  font-weight: 400;
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: #a8afac;
  font-style: italic;
  pointer-events: none;
  font-family: 'DM Sans';
  position: absolute;
  left: 22px; /* Adjust if needed */
}

.ProseMirror p.is-empty:not(:first-child)::before {
  display: none; /* Hides placeholder on additional empty lines */
}

blockquote {
  /* border-left: 4px solid #007bff; */
  padding: 10px;
  margin: 10px 0;
  /* font-style: italic; */
  display: flex;
  justify-content: 'start';
  gap: 20px;
}
blockquote::before {
  content: 'â';
  font-size: 30px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -10px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 10px; /* space between items */
}
